<!-- 底部菜单 -->
<div class="fixed bottom">
	<div class="distribution-tip" id="distribution-tip" style="display: none;"></div>
	<dl class="sub-nav nav-b5">
		<dd id="buttom_home">
			<a href="{:__URL('APP_MAIN')}">
				<div class="nav-b5-relative">
					<img src="__TEMP__/{$style}/public/images/home_check.png"/>
					<span>首页</span>
				</div>
			</a>
		</dd>
		<dd id="buttom_classify">
			<a href="{:__URL('APP_MAIN/goods/goodsclassificationlist')}">
				<div class="nav-b5-relative">
					<img src="__TEMP__/{$style}/public/images/classify_uncheck.png"/>
					<span>分类</span>
				</div>
			</a>
		</dd>
		<dd id="bottom_cart">
			<a href="{:__URL('APP_MAIN/goods/cart')}">
				<div class="nav-b5-relative">
					<img src="__TEMP__/{$style}/public/images/cart_uncheck.png"/>
					<span>购物车</span>
				</div>
			</a>
		</dd>
		<dd id="bottom_member">
			<a href="{:__URL('APP_MAIN/member/index')}">
				<div class="nav-b5-relative">
					<img src="__TEMP__/{$style}/public/images/user_uncheck.png"/>
					<span>会员中心</span>
				</div>
			</a>
		</dd>
	</dl>
</div>